body {
  background-color: black;
  color: white;
}

.Content {
  padding: 0;
  height: 100%;
  margin: 20px;
}

.App {
  padding: 0;
}

.InfoWidgetTable {
  color: white;
  background-color: black;
  border: 2px solid grey;
}

.InfoWidgetTableIcon {
  color: orange;
  margin-left: 10px;
  margin-right: 10px;
}

.DashboardTable {
  color: white;
  border: 2px solid grey;
}

.DashboardTable>tbody>tr:nth-child(odd)>td,
.DashboardTable>tbody>tr:nth-child(odd)>th {
  background-color: black;
}

.DashboardTable>tbody>tr:nth-child(even)>td,
.DashboardTable>tbody>tr:nth-child(even)>th {
  background-color: #303030;
}

.DashboardTableIcon {
  color: orange;
}

.DashboardTableHeader {
  font-style: italic;
  text-align: center;
  font-weight: 500;
}

.InfoWidget {
  margin: 5px;
}

.Header {
  width: 100vw;
  height: 5vh;
  background-color: black;
  color: white;
  border: 2px solid gray;
}

.navbar-text {
  color: white;
}

.Map {
  height: 95vh;
  margin: -20px;
}

.Sidebar {
  width: 65px;
  height: 95vh;
  border-style: hidden solid hidden hidden;
  border-color: gray;
  border-width: 2px;
}

.Sidebar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.Sidebar .nav-item .active {
  color: black;
  background-color: orange;
  width: 75px;
}

.Toastify__toast {
  border: 2px solid gray;
  background-color: black;
  color: white;
  border-radius: 0px;
}

.FollowPositionSwitch>.form-check-input {
  width: 40px;
  height: 20px;
}

.form-check-input:focus {
  border: none;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: orange;
  border: none;
}

:root {
  --success: green;
  --warning: orange;
  --danger: red;

  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--danger);
}