.Content {
  padding: 0;
  height: 100%;
  margin: 20px;
}

.App {
  padding: 0;
}

.Header {
  width: 100vw;
  height: 5vh;
}

.Map {
  height: 95vh;
  margin: -20px;
}

.Sidebar {
  width: 65px;
  height: 95vh;
  background-color: #adb5bd;
}

.Sidebar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #444;
  text-decoration: none;
}

.Sidebar .nav-item .active {
  color: #fff;
  background-color: #375a7f;
  width: 75px;
}

.Sidebar a {
  color: #444;
}

.Sidebar a:hover {
  background-color: #eee;
}

.Sidebar a:visited {
  color: #444;
}