body {
  color: #fff;
  background: #000;
}

.Content {
  padding: 0;
}

.Sidebar {
  position: sticky;
  align-self: flex-start;
  align-items: start;
}

.Sidebar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #444;
  text-decoration: none;
}

.Sidebar .nav-item .active {
  background-color: #eee;
}

.Sidebar a {
  color: #444;
}

.Sidebar a:hover {
  background-color: #eee;
}

.Sidebar a:visited {
  color: #444;
}